<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @recipient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @recipient.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipient.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @recipient.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipient.user_id %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
