<%= form_for(@order) do |f| %>
  <div  class="payment-errors">&nbsp;</div>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h4>Order Information </h4>
  <div class="span8 offset3">
    <%= f.label :name %> <em>Your name will be printed on the recipients' gift card greeting.</em><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="span8 offset3">
    <%= f.label :email %><em>We will email you a receipt of this order. We will not use your email for any other purpose.</em>  <br>
    <%= f.email_field :email, size: 40 %>
  </div>
  <%#= f.hidden_field :stripe_token %>
<!-- these fields are disabled before submission and are never transmitted back to rails -->
    
      
        <div class="span2 offset3">
          <div class="field">
            <%= label_tag :credit_card_number %>
            <div class="input">
              <input type="text" class="field" data-stripe="number" />
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="clearfix">
            <%= label_tag :cvv, "Security code (CVC)" %>
            <div class="input">
              <input type="text" class="field small" data-stripe="cvc"/>
            </div>
          </div>
        </div>
      
      
        <div class="span2">
          <div class="clearfix">
            <%= label_tag :expiration_month %>
            <div class="input">
              <select data-stripe="exp-month">
                <% Array(1..12).each do |month| %>
                  <option value="<%= month %>"><%= month %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="span2">
          <%= label_tag :expiration_year %>
          <select data-stripe="exp-year">
            <% Array(Date.today.year..(Date.today.year+25)).each do |year| %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          </select>
        </div>
      
    </div>
  <div class="span3, offset3"> 
    <%= f.submit 'Place Order', class: "btn-small btn-primary"  %>
  </div>
<% end %>


