<div class="row">
  <aside class="span3">
    <section>
      <%= render @cart %>
    </section>
  </aside>
  <div class="span4">
    <h4>Checkout</h4>
    <table class="table table-bordered">
      <tr>
        <th>Cart:</th>
        <td><%= (number_to_currency@cart.total_price) %></td>
      </tr>
      <tr>
        <th>Handling Fee:</th>
        <td><%= (number_to_currency@service_fee) %> </td>
      </tr>
        <th>Order Total:</th>
        <td><%= (number_to_currency@total_transaction_amount)  %></td>
      </tr>
    </table>
    <%= button_to 'Continue Shopping', campaigns_path, method: :get, class: "btn-small btn-primary" %>
  </div>
  <div class="span5">
    <div class="well"> 5% of this transaction (<%= (number_to_currency@organizer_credit) %>) will be donated to the organization running this giftcard campaign. <br><br>
    The handling fee pays for credit card processing on Stripe.com. Stripe encrypts and processes all credit card transactions. No credit card information is ever stored on ThankTheTeacher.com. 
    </div>
  </div>
  <div class="span8">
    <%= render 'form' %>
  </div>
</div>