<% content_for(:head) do  %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>
<div class="row">
  <aside class="span3">
    <section>
      <%= render @cart %>
    </section>
    </section>
  </aside>
  <div class="row">
  <div class="span4">
    <h4>Checkout</h4>
    <table class="table table-bordered">
      <tr>
        <th>Cart:</th>
        <td>
         <div class="text-right">
           <%= (number_to_currency @amount.to_d / 100.0) %>
          </div>
        </td>
      </tr>
      <tr>
        <th>Handling Fee:</th>
        <td>
          <div class="text-right">
            <%= (number_to_currency @service_fee.to_d / 100.0) %> 
          </div>
        </td>
      </tr>
        <th>Order Total:</th>
        <td>
          <div class="text-right">
            <strong><%= (number_to_currency @total_transaction_amount.to_d / 100.0)  %></strong>
          </div>
        </td>
      </tr>
    </table>
    <%= button_to 'Continue Shopping', campaigns_path, method: :get, class: "btn-small btn-primary" %>
  </div>
  <div class="span5">
    <div class="well">5% of the value of your transaction (<%= (number_to_currency @organizer_credit.to_d / 100.0) %>) will be donated to the gifting organization. We get this money from Amazon (not from your contribution).<br><br>
    The handling fee pays for secure credit card processing. Credit card information is <u>never</u> stored on ThankTheTeacher.com.
    </div>
  </div>
  <%= render 'form' %>
</div>
