<p id="notice"><%= notice %></p>
<div class="row">
<aside class="span3">
  <section>
    <h4>
      <%= link_to @user.name, current_user %>
    </h4>
    <h6>  <%= link_to "Edit Profile", edit_user_path(current_user) %> |  <%= link_to "Log Out", signout_path, method: "delete" %> </h6>
  </section>
  <section>
    <div id="cart">
      <%= render @cart %>
    </div>
  </section>
</aside>

<div class="span8">
<div>
  <h3> <%= @campaign.title %> </h3>
  <h4> Manage Gift Card Recipients</h4>
</div>

<%= link_to 'Add new recipient', new_recipient_path %> <br>
Manage recipients with a spreadsheet: Download | Upload <br>
<i>(Better when you have lots of recipients to add.)</i>
  <% if @campaign_recipients.any? %>
    <table>
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_recipients.each do |recipient| %>
      <tr>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %> | 
        <%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= recipient.first_name %> </td>
        <td><%= recipient.last_name %> </td>
        <td><%= recipient.title %></td>
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>
  <% else %>
    <br>
    <p>Next step: add some <%= link_to 'recipients', new_recipient_path %> to your giftcard campaign!</p>
  <% end %>
</div>
</div>
