<p id="notice"><%= notice %></p>
<div class="row">
<aside class="span3">
    <section>
    <em>press refresh to see cart the update (AJAX bug)</em>
      <h1>
       
        <%= render @cart %>
      </h1>
   
    </section>
  </aside>


<div class="span8">


<div>
  <h3> <%= @campaign.title %> </h3>
  <h5> End Date: <%= @campaign.end_date %></h5>
  <h5> Created by: <%= @campaign.user.name %></h5>
  <body> <%= @campaign.description %></body>
</div>


  <% if @recipients.any? %>
    <p class="recipients">
      <%= render @recipients %>
    </p>
  <% else %>
    <p>Next step: add some <%= link_to 'recipients', new_recipient_path %> to your giftcard campaign!</p>
  <% end %>
</div>
</div>