<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span3">
  <% if @user %>
    <section>
      <h4>
        <%= link_to @user.name, current_user %>
      </h4>
      <h6>  <%= link_to "Edit Profile", edit_user_path(current_user) %> |  <%= link_to "Log Out", signout_path, method: "delete" %> </h6>
    </section>
    <% end %>
    <section>
      <div id="cart">
        <%= render @cart %>
      </div>
    </section>
  </aside>

  <div class="span8">
  <div>
    <h3> <%= @campaign.title %> </h3>
    <h5> End Date: <%= @campaign.end_date %></h5>
    <h5> Created by: <%= @campaign.user.name %></h5>
    <body> <%= @campaign.description %></body>
    <div class="alert" align="center">Super easy! Find your teacher, click an amount to gift, make their day.
    <br>5% of the value of your order goes back to your school (from our pocket, not yours).
    <br>Remember, gifting is usually tax deductible.</div> 
  </div>
  
  <% if @recipients.any? %>
    <%= will_paginate @recipients %> 
    <table class="table table-striped table-bordered">
      <tr>
        <th align="left"><%= sortable "first_name", "First" %></th>
        <th align="left"><%= sortable "last_name", "Last" %></th>
        <th align="left"><%= sortable "title", "Occupation" %></th>
        <th align="left">Gift</th>
      </tr>
      <%= render @recipients %>
    </table>
  
    <%= will_paginate @recipients %>
  <% else %>
    <br>
    <p>Add some <%= link_to 'recipients', new_recipient_path %> to your giftcard campaign!</p>

    
  <% end %>
</div>
</div>

