<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span3">
  <% if @user %>
    <section>
      <h4>
        <%= link_to @user.name, current_user %>
      </h4>
      <h6>  <%= link_to "Edit Profile", edit_user_path(current_user) %> |  <%= link_to "Log Out", signout_path, method: "delete" %> </h6>
    </section>
    <% end %>
    <section>
      <div id="cart">
        <%= render @cart %>
      </div>
    </section>
  </aside>

  <div class="span8">
  <div>
    <h3> <%= @campaign.title %> </h3>
    <h5> End Date: <%= @campaign.end_date %></h5>
    <h5> Created by: <%= @campaign.user.name %></h5>
    <body> <%= @campaign.description %></body>
    <div class="alert" align="center">Super easy! Find your teacher, click an amount to gift, and make their day.<br>Gifting is usually tax deductible. Check with your accountant to be sure.<br>5% of the value of this order goes back to your school. <br>(This comes out of our pocket, not yours.)</div> 
  </div>
  <%#= will_paginate %>
  <% if @recipients.any? %>
    
    <p class="recipients">
    <table class="table table-striped table-bordered">
      <tr>
        <th align="right">Name</th>
        <th align="left"></th>
        <th align="left">Occupation</th>
        <th align="left">Gift</th>
      </tr>
      <%= render @recipients %>
    </table>
    </p>
    <%#= will_paginate %>
  <% else %>
    <br>
    <p>Add some <%= link_to 'recipients', new_recipient_path %> to your giftcard campaign!</p>

    
  <% end %>
</div>
</div>

